agente-basico-1KNy4Xj866GSjTLr.json
{"updatedAt":"2025-12-14T00:28:41.000Z","createdAt":"2025-12-05T22:01:21.913Z","id":"1KNy4Xj866GSjTLr","name":"agente basico","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"c7bada9d-c321-4649-86b9-eacdea1cf078","name":"When chat message received","webhookId":"3b750887-6265-4594-9ed2-f6e4ff7d4833","alwaysOutputData":false},{"parameters":{"options":{"systemMessage":"eres mi asistente personal, tu nombre el jarbis\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,0],"id":"26385b3c-e569-4174-8190-8fe9c4075bf0","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[304,176],"id":"5db1797c-29c7-4a31-bec9-34158e16ba63","name":"Simple Memory"},{"parameters":{"model":"google/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[144,176],"id":"e5bdf9fb-bdeb-40bf-8472-00ac3231b74f","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"VIsEPLI7HE8CwGAW","name":"OpenRouter account"}}},{"parameters":{"message":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[560,0],"id":"dd66858d-2cdf-471f-ac56-c88de26fa078","name":"Respond to Chat"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"574d4f78-6299-45d5-be62-0ccdcc4a27c1","triggerCount":1,"shared":[{"updatedAt":"2025-12-05T22:01:21.919Z","createdAt":"2025-12-05T22:01:21.919Z","role":"workflow:owner","workflowId":"1KNy4Xj866GSjTLr","projectId":"ixS1egpT2BbGWR9v"}],"tags":[]}