bank-csv-classifier-ars-v3-fixed-6fVhp99bChatDdkC.json
{"updatedAt":"2025-11-27T03:42:30.000Z","createdAt":"2025-11-27T03:40:20.989Z","id":"6fVhp99bChatDdkC","name":"Bank-CSV-Classifier-ARS-v3-FIXED","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1FqQUzJoCvBdpp46l3nkewzvqkAaVp27-","mode":"id"},"event":"fileCreated","options":{"fileType":"all"}},"id":"8e9e2c6e-9e0f-4177-a719-1fc8c56c761c","name":"DriveTrigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-640,192],"credentials":{"googleDriveOAuth2Api":{"id":"1iIhqm9JiYI9FSm6","name":"Google Drive account"}},"notes":"Se dispara cuando se sube un .csv a la carpeta elegida"},{"parameters":{"jsCode":"// Genera hash único MD5\nconst crypto = require('crypto');\nitem.hash = crypto.createHash('md5').update(item.Fecha + item.Descripción + item.Importe).digest('hex');\nreturn item;"},"id":"08c70049-974b-4426-9b9a-7867fc18a971","name":"GenerateHash","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,208],"notes":"Crea hash MD5 (Fecha+Desc+Importe)"},{"parameters":{"documentId":{"__rl":true,"value":"1RFYROp1Xu3JwKlM6uSHrBAo_RcXrDTJocHet6oyxEnc","mode":"list","cachedResultName":"Ledger2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RFYROp1Xu3JwKlM6uSHrBAo_RcXrDTJocHet6oyxEnc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Resumen","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RFYROp1Xu3JwKlM6uSHrBAo_RcXrDTJocHet6oyxEnc/edit#gid=0"},"combineFilters":"AND","options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"G:G"}},"returnAllMatches":"returnAllMatches"}},"id":"d663415a-53eb-4f1f-b455-a60f8ff00563","name":"DuplicateCheck","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[64,208],"notes":"Devuelve filas que coincidan con el hash (si existe)"},{"parameters":{"conditions":{"number":[{"operation":"equal"}]}},"id":"7defa302-147e-4815-987e-d9bd41a8554a","name":"IsDuplicate?","type":"n8n-nodes-base.if","typeVersion":1,"position":[256,208],"notes":"true = duplicado (fin) / false = nuevo → clasifica"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RFYROp1Xu3JwKlM6uSHrBAo_RcXrDTJocHet6oyxEnc","mode":"list","cachedResultName":"Ledger2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RFYROp1Xu3JwKlM6uSHrBAo_RcXrDTJocHet6oyxEnc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Resumen","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RFYROp1Xu3JwKlM6uSHrBAo_RcXrDTJocHet6oyxEnc/edit#gid=0"},"dataMode":"autoMapInputData","options":{}},"id":"3ae10bcb-d821-42cb-8360-6acf0976e48e","name":"AppendResumen","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[656,224],"notes":"Guarda la fila categorizada + hash"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"headerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"model\": \"openai/gpt-3.5-turbo\",\n  \"temperature\": 0.1,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres contador argentino. Devolvé solo JSON: {\\\"categoria\\\":\\\"\\\",\\\"subcategoria\\\":\\\"\\\",\\\"debe_haber\\\":\\\"\\\",\\\"confidence\\\":0.XX}. importe<0 → Debe, >0 → Haber. Categorías: Gasto-Tarjeta,Gasto-Impuesto,Gasto-Cajero,Gasto-Debin,Haber-Ingreso,Haber-Interés,Haber-Inversión,Revisar\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Clasificar: \" + JSON.stringify({fecha: $json.Fecha, desc: $json.Descripción, importe: $json.Importe})\n    }\n  ]\n} }}","options":{"response":{},"timeout":30000}},"id":"a1f972dc-7500-49a5-a42e-786d48a44ff1","name":"ClassifyOR","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[480,224],"notes":"Clasifica con OpenRouter (GPT-3.5) vía HTTP. Retorna categoria,subcategoria,debe_haber,confidence"},{"parameters":{"fileFormat":"csv","options":{}},"id":"2d03c3c4-4624-4ea4-961c-4bbf1928929f","name":"CSV2Json","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[-352,208],"notes":"Convierte el CSV en objetos JSON (una fila = un item)"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-512,192],"id":"dcb30b5e-0209-4bbb-a46b-0b3415a53c53","name":"DownloadCSV","credentials":{"googleDriveOAuth2Api":{"id":"1iIhqm9JiYI9FSm6","name":"Google Drive account"}}}],"connections":{"DriveTrigger":{"main":[[{"node":"DownloadCSV","type":"main","index":0}]]},"GenerateHash":{"main":[[{"node":"DuplicateCheck","type":"main","index":0}]]},"DuplicateCheck":{"main":[[{"node":"IsDuplicate?","type":"main","index":0}]]},"IsDuplicate?":{"main":[[],[{"node":"ClassifyOR","type":"main","index":0}]]},"ClassifyOR":{"main":[[{"node":"AppendResumen","type":"main","index":0}]]},"CSV2Json":{"main":[[{"node":"GenerateHash","type":"main","index":0}]]},"DownloadCSV":{"main":[[{"node":"CSV2Json","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0dd8ecbf-a361-476e-960a-429fe6d439a0","triggerCount":0,"shared":[{"updatedAt":"2025-11-27T03:40:20.994Z","createdAt":"2025-11-27T03:40:20.994Z","role":"workflow:owner","workflowId":"6fVhp99bChatDdkC","projectId":"ixS1egpT2BbGWR9v"}],"tags":[]}