procesamiento-extracto-bancario-GXLu4boe0Ei0v3yJ.json
{"updatedAt":"2025-12-09T19:29:07.927Z","createdAt":"2025-12-09T19:29:07.927Z","id":"GXLu4boe0Ei0v3yJ","name":"Procesamiento Extracto Bancario","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"092c0ca4-0d59-4170-a143-46f74dce2815","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-256,32]},{"parameters":{"operation":"search"},"id":"d4ea0f50-36d4-49a6-927e-36a53f339e03","name":"Buscar CSV en Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-48,32]},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"03b7cdce-f53d-4480-a09f-1d736205bf82","name":"Leer Archivos Procesados","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[160,32]},{"parameters":{"jsCode":"// Filtrar archivos ya procesados\nconst archivosEncontrados = $input.first().json;\nconst archivosProcesados = $input.last().json;\n\nconst procesadosIds = new Set(\n  archivosProcesados.map(row => row.file_id)\n);\n\nconst archivosPendientes = archivosEncontrados.files.filter(\n  file => !procesadosIds.has(file.id)\n);\n\nreturn archivosPendientes.map(file => ({ json: file }));"},"id":"8a0e1291-1b1b-4f76-a709-8a3ddcd2bb3e","name":"Filtrar No Procesados","type":"n8n-nodes-base.code","typeVersion":2,"position":[352,32]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"5cfa60eb-aa13-482b-9720-f1c2b8afce23","name":"Descargar CSV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[560,32]},{"parameters":{"options":{}},"id":"67f2664f-e45f-4b60-9ba2-eecdc2bd3e6e","name":"Parsear CSV","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[752,32]},{"parameters":{"jsCode":"// Clasificar movimientos bancarios\nconst items = $input.all();\n\n// Reglas de clasificación\nconst reglas = [\n  { patron: /supermercado|mercado|almac[eé]n/i, categoria: 'Alimentación' },\n  { patron: /farmacia|medicina|salud/i, categoria: 'Salud' },\n  { patron: /gasolina|combustible|ypf|shell/i, categoria: 'Transporte' },\n  { patron: /netflix|spotify|amazon prime|disney/i, categoria: 'Entretenimiento' },\n  { patron: /luz|gas|agua|internet|tel[eé]fono/i, categoria: 'Servicios' },\n  { patron: /alquiler|expensas/i, categoria: 'Vivienda' },\n  { patron: /restaurante|bar|caf[eé]|delivery/i, categoria: 'Comidas Fuera' },\n  { patron: /ropa|zapatería|indumentaria/i, categoria: 'Vestimenta' },\n  { patron: /transferencia|pago.*tarjeta/i, categoria: 'Transferencias' },\n  { patron: /sueldo|salario|haberes/i, categoria: 'Ingresos' }\n];\n\nfunction clasificarMovimiento(descripcion) {\n  for (const regla of reglas) {\n    if (regla.patron.test(descripcion)) {\n      return regla.categoria;\n    }\n  }\n  return 'Sin Clasificar';\n}\n\nreturn items.map(item => {\n  const movimiento = item.json;\n  const descripcion = movimiento.descripcion || movimiento.concepto || '';\n  const monto = parseFloat(movimiento.monto || movimiento.importe || 0);\n  \n  return {\n    json: {\n      fecha: movimiento.fecha,\n      descripcion: descripcion,\n      monto: monto,\n      categoria: clasificarMovimiento(descripcion),\n      tipo: monto >= 0 ? 'Ingreso' : 'Egreso',\n      archivo_origen: $('Descargar CSV').item.json.name,\n      archivo_id: $('Descargar CSV').item.json.id,\n      fecha_procesamiento: new Date().toISOString()\n    }\n  };\n});"},"id":"3ddee484-64f6-47e9-b073-cbe9a646d982","name":"Clasificar Movimientos","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,32]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"4df246c4-d9fc-4fd0-b2dd-642309996052","name":"Guardar en Sheet Movimientos","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1152,32]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"2cd78b7a-3090-4343-9948-0b843f892fff","name":"Registrar Archivo Procesado","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1360,32]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.length }}","operation":"larger","value2":0}]},"options":{}},"id":"bd5ae5da-2593-4ce9-ba41-8ad9ae11b343","name":"¿Hay archivos pendientes?","type":"n8n-nodes-base.if","typeVersion":2,"position":[352,176]},{"parameters":{"content":"## 🚀 INICIO - Configuración Requerida\n\n**PASO 1:** Configura las credenciales de Google Drive OAuth2\n**PASO 2:** Configura las credenciales de Google Sheets OAuth2\n**PASO 3:** Crea 2 hojas de Google Sheets (ver nota siguiente)\n**PASO 4:** Actualiza los IDs de las hojas en los nodos correspondientes\n\n⏰ Este trigger se ejecuta cada 24 horas automáticamente","height":240,"width":380},"id":"171538c6-6270-4122-ae2c-ba2926a26f2f","name":"Nota Inicio","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,-176]},{"parameters":{"content":"## 📊 Hojas de Google Sheets Necesarias\n\n**HOJA 1: Movimientos Bancarios**\nColumnas: fecha | descripcion | monto | categoria | tipo | archivo_origen | fecha_procesamiento\n\n**HOJA 2: Control de Archivos**\nColumnas: file_id | file_name | fecha_procesamiento | cantidad_movimientos\n\n⚠️ **IMPORTANTE:** Copia los IDs de las hojas desde la URL:\nhttps://docs.google.com/spreadsheets/d/[ESTE_ES_EL_ID]/edit\n\n✏️ Actualiza los IDs en los nodos:\n- Leer Archivos Procesados (línea 62)\n- Guardar en Sheet Movimientos (línea 157)\n- Registrar Archivo Procesado (línea 194)","height":320,"width":420},"id":"b1d87626-048a-4344-9bea-1823a1bb8b4b","name":"Nota Sheets","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-176]},{"parameters":{"content":"## 🔍 Control de Duplicados\n\nEste nodo filtra los archivos CSV que ya fueron procesados anteriormente.\n\n✅ **Beneficio:** Evita procesar el mismo extracto múltiples veces\n\n📝 **Funcionamiento:**\n- Compara los IDs de archivos encontrados vs procesados\n- Solo continúa con archivos nuevos","height":200,"width":360},"id":"a30f07ef-9e2a-48ed-bb17-62f19a784c3c","name":"Nota Control","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,-176]},{"parameters":{"content":"## 🏷️ Clasificación Automática\n\n**Categorías disponibles:**\n✓ Alimentación (supermercado, mercado)\n✓ Salud (farmacia, medicina)\n✓ Transporte (gasolina, combustible)\n✓ Entretenimiento (netflix, spotify)\n✓ Servicios (luz, gas, agua, internet)\n✓ Vivienda (alquiler, expensas)\n✓ Comidas Fuera (restaurante, delivery)\n✓ Vestimenta (ropa, zapatería)\n✓ Transferencias\n✓ Ingresos (sueldo, salario)\n✓ Sin Clasificar\n\n⚙️ **Personalizar:** Edita el código de este nodo para agregar tus propias reglas","height":280,"width":400},"id":"23aa99c5-e539-4866-b8c6-2d7a8a8abcb3","name":"Nota Clasificación","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[928,-176]},{"parameters":{"content":"## ✅ Guardado y Registro\n\nEstos nodos finales:\n\n1️⃣ **Guardan** los movimientos clasificados en la hoja de movimientos\n\n2️⃣ **Registran** el archivo como procesado para evitar duplicados\n\n💾 Todos los datos quedan persistidos en Google Sheets","height":180,"width":340},"id":"175fe083-e942-4335-8e48-73d5a606027c","name":"Nota Guardado","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,-176]},{"parameters":{"content":"## 📋 Formato del CSV Bancario\n\n**Tu archivo CSV debe tener al menos estas columnas:**\n- `fecha` (o similar)\n- `descripcion` o `concepto`\n- `monto` o `importe`\n\n⚠️ **Si tu banco usa nombres diferentes:**\nEdita el nodo \"Clasificar Movimientos\" y ajusta:\n```javascript\nconst descripcion = movimiento.TU_COLUMNA || '';\nconst monto = parseFloat(movimiento.TU_COLUMNA || 0);\n```\n\n📍 Sube tus archivos CSV a Google Drive (Mi unidad)","height":260,"width":460},"id":"da864818-9847-4c72-aac0-fba0c182097d","name":"Nota CSV","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,288]},{"parameters":{"content":"## 🧪 Prueba del Workflow\n\n**Antes de activar el schedule:**\n\n1. Sube un CSV de prueba a Google Drive\n2. Haz clic en \"Execute Workflow\" (botón de play)\n3. Verifica que los datos aparezcan en tus hojas\n4. Ejecuta nuevamente → el mismo archivo NO debe reprocesarse\n\n✅ Si todo funciona, activa el workflow para que se ejecute automáticamente cada 24 horas","height":220,"width":420},"id":"65e0e52d-a872-4951-9270-91e599676fae","name":"Nota Prueba","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,288]},{"parameters":{"content":"## ⚙️ Configuraciones Opcionales\n\n**Cambiar frecuencia:**\nEdita el nodo \"Schedule Trigger\" para ejecutar más/menos frecuente\n\n**Filtrar archivos específicos:**\nEn \"Buscar CSV en Drive\", modifica el queryString:\n```\nname contains 'banco' and name contains '.csv'\n```\n\n**Agregar categorías:**\nEdita las reglas en \"Clasificar Movimientos\"","height":220,"width":380},"id":"5893ca17-b175-4092-9bca-f77255c998ad","name":"Nota Opciones","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[656,288]},{"parameters":{"content":"## 🔐 Credenciales Requeridas\n\n**Google Drive OAuth2:**\n- Nodo: Buscar CSV en Drive\n- Nodo: Descargar CSV\n\n**Google Sheets OAuth2:**\n- Nodo: Leer Archivos Procesados\n- Nodo: Guardar en Sheet Movimientos\n- Nodo: Registrar Archivo Procesado\n\n🔑 Configura en: Credentials → Add Credential","height":200,"width":340},"id":"ec980528-1787-4990-9ae1-5773a8bbed8b","name":"Nota Credenciales","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1072,288]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Buscar CSV en Drive","type":"main","index":0}]]},"Buscar CSV en Drive":{"main":[[{"node":"Leer Archivos Procesados","type":"main","index":0}]]},"Leer Archivos Procesados":{"main":[[{"node":"Filtrar No Procesados","type":"main","index":0}]]},"Filtrar No Procesados":{"main":[[{"node":"¿Hay archivos pendientes?","type":"main","index":0}]]},"¿Hay archivos pendientes?":{"main":[[{"node":"Descargar CSV","type":"main","index":0}]]},"Descargar CSV":{"main":[[{"node":"Parsear CSV","type":"main","index":0}]]},"Parsear CSV":{"main":[[{"node":"Clasificar Movimientos","type":"main","index":0}]]},"Clasificar Movimientos":{"main":[[{"node":"Guardar en Sheet Movimientos","type":"main","index":0}]]},"Guardar en Sheet Movimientos":{"main":[[{"node":"Registrar Archivo Procesado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ac7ee85-8b62-4c1b-b49a-2a5933e6c4c2","triggerCount":0,"shared":[{"updatedAt":"2025-12-09T19:29:07.944Z","createdAt":"2025-12-09T19:29:07.944Z","role":"workflow:owner","workflowId":"GXLu4boe0Ei0v3yJ","projectId":"ixS1egpT2BbGWR9v"}],"tags":[]}