telegram-ai-agent---pdf-knowledge-base-y1CLa84vIt3HNyg0.json
{"updatedAt":"2025-12-09T22:11:11.000Z","createdAt":"2025-12-09T21:18:12.371Z","id":"y1CLa84vIt3HNyg0","name":"Telegram AI Agent - PDF Knowledge Base","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"https://drive.google.com/drive/u/1/folders/1N8D6XzWRPzVjA2eaLepfKZA58R6aXwL8","mode":"url"},"event":"fileCreated","options":{"fileType":"all"}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"60b44ddc-c291-4683-a476-e49cbdede4d4","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"1iIhqm9JiYI9FSm6","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,0],"id":"9da6fcb1-a826-4d98-90bf-4c115bc5ed06","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[160,208],"id":"f2ad5ee8-a438-4075-af25-546793f42b3c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"VIsEPLI7HE8CwGAW","name":"OpenRouter account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[272,208],"id":"b09cc053-0c7e-45b0-bd28-19e33c92086c","name":"Simple Memory"},{"parameters":{"operation":"get"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,208],"id":"92ffdda8-7097-4008-b862-30b21e5b6c25","name":"Get a message","webhookId":"1840ba16-42a5-4a8f-a65d-867a64636cd1"},{"parameters":{"resource":"document","modelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[688,208],"id":"b475ef73-65e0-4f7a-97db-e3a9a614c3b2","name":"Analyze document"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"1ac4b8cc-8768-480d-bc79-98834fc27ecc","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[432,624],"webhookId":"telegram-webhook-id","notes":"CONFIGURACIÓN:\n1. Crear un bot en Telegram con @BotFather\n2. Obtener el token del bot\n3. Configurar las credenciales en n8n\n4. Este nodo captura todos los mensajes enviados al bot"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","operation":"isNotEmpty"}]}},"id":"235e43fa-ed23-4d90-a73e-8804bf619c60","name":"Filter Text Messages","type":"n8n-nodes-base.if","typeVersion":1,"position":[656,624],"notes":"Filtra solo mensajes de texto, ignora imágenes, stickers, etc."},{"parameters":{"resource":"fileFolder","filter":{},"options":{}},"id":"1b17fe6f-3c94-4c21-992f-6246753b30ae","name":"List PDFs from Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,528],"credentials":{"googleDriveOAuth2Api":{"id":"1iIhqm9JiYI9FSm6","name":"Google Drive account"}},"notes":"CONFIGURACIÓN:\n1. Configurar credenciales OAuth2 de Google Drive\n2. Ajustar 'queryString' para buscar en carpeta específica:\n   - Ejemplo: \"'FOLDER_ID' in parents and mimeType='application/pdf'\"\n3. Ajustar 'limit' según cantidad de PDFs esperados\n4. Este nodo lista todos los PDFs disponibles"},{"parameters":{"operation":"download","fileId":"={{ $json.id }}","options":{}},"id":"45f5048d-115f-4194-a2f8-b81a00326234","name":"Download PDF","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1088,528],"credentials":{"googleDriveOAuth2Api":{"id":"1iIhqm9JiYI9FSm6","name":"Google Drive account"}},"notes":"Descarga cada PDF encontrado para procesarlo"},{"parameters":{"operation":"extractText"},"id":"0acea6d1-5d23-437e-a161-b4d0e81932c0","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1296,528],"notes":"IMPORTANTE:\n1. Extrae el texto de cada PDF\n2. El texto extraído se almacena en 'data'\n3. Para PDFs escaneados, considerar usar OCR externo"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"id":"a36a5b82-3e2c-49ac-b6cd-94ffa7a107c8","name":"Aggregate All Documents","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1520,528],"notes":"Combina todo el texto extraído de todos los PDFs en un solo contexto"},{"parameters":{"jsCode":"// Preparar el contexto de conocimiento\nconst items = $input.all();\nlet knowledgeBase = \"\";\n\nitems.forEach((item, index) => {\n  const fileName = item.json.name || `Documento ${index + 1}`;\n  const content = item.json.data || \"\";\n  \n  knowledgeBase += `\\n\\n=== ${fileName} ===\\n${content}`;\n});\n\n// Obtener la pregunta del usuario desde el trigger de Telegram\nconst userQuestion = $('Telegram Trigger').first().json.message.text;\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst userEmail = $('Telegram Trigger').first().json.message.from.username;\n\nreturn {\n  json: {\n    knowledgeBase: knowledgeBase,\n    userQuestion: userQuestion,\n    chatId: chatId,\n    userEmail: userEmail,\n    userName: $('Telegram Trigger').first().json.message.from.first_name\n  }\n};"},"id":"43f0d439-0939-483c-8dd0-910ec8db58aa","name":"Prepare Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,528],"notes":"FUNCIÓN:\n1. Combina todo el contenido de los PDFs\n2. Extrae la pregunta del usuario\n3. Prepara el contexto para el modelo de IA"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"❌ Lo siento, ocurrió un error al procesar tu consulta.\n\nPor favor, intenta nuevamente más tarde.","additionalFields":{}},"id":"ed466f8a-58a4-4db1-afd9-917cf2756c91","name":"Send Error Message","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2176,1136],"webhookId":"63cb2864-3156-411a-9d50-174a7edbe5da","notes":"Manejo de errores: notifica al usuario si algo falla"},{"parameters":{"chatId":"={{ $('Prepare Context').item.json.chatId }}","text":"🤖 *Respuesta del Asistente IA*\n\n❓ *Tu pregunta:*\n{{ $('Prepare Context').item.json.userQuestion }}\n\n💡 *Respuesta:*\n{{ $json.message.content }}\n\n---\n📄 Basado en documentos PDF disponibles","additionalFields":{"parse_mode":"Markdown"}},"id":"d7e4fd5a-c2a6-44ed-9ca1-b1e6e9bf9a9f","name":"Send Telegram Response","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2192,528],"webhookId":"26fd962f-5168-4339-9907-f78e6a66b7ae","notes":"Envía la respuesta completa del agente IA por Telegram\n\nCARACTERÍSTICAS:\n1. Muestra la pregunta original\n2. Muestra la respuesta completa del agente\n3. Usa formato Markdown para mejor legibilidad\n\nNOTA: Si la respuesta es muy larga (>4096 caracteres), Telegram la rechazará.\nEn ese caso, considerar:\n- Dividir en múltiples mensajes (ver documentación)\n- Limitar maxTokens en OpenAI a 500-700\n- Agregar resumen automático"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1904,528],"id":"52aabdb9-bd0d-4e27-b2db-7ad68fd545d3","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1872,704],"id":"a6ba9a2c-3279-4949-9558-272fc2fe584a","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"VIsEPLI7HE8CwGAW","name":"OpenRouter account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2016,704],"id":"483ed83d-e3d1-43aa-96a2-320d2f64a093","name":"Simple Memory1"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get a message":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Filter Text Messages","type":"main","index":0}]]},"Filter Text Messages":{"main":[[{"node":"List PDFs from Drive","type":"main","index":0}],[{"node":"Send Error Message","type":"main","index":0}]]},"List PDFs from Drive":{"main":[[{"node":"Download PDF","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Aggregate All Documents","type":"main","index":0}]]},"Aggregate All Documents":{"main":[[{"node":"Prepare Context","type":"main","index":0}]]},"Prepare Context":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Send Telegram Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e411f8a-6e33-440f-8a5f-374872c0e2ff","triggerCount":0,"shared":[{"updatedAt":"2025-12-09T21:18:12.376Z","createdAt":"2025-12-09T21:18:12.376Z","role":"workflow:owner","workflowId":"y1CLa84vIt3HNyg0","projectId":"ixS1egpT2BbGWR9v"}],"tags":[]}